.main-container{
    text-align: center;
    height:100%;
    
}
ul{
    margin:0;
    padding:0;
}

.list-of-translations{
    justify-content: center;
    margin-top:10%;
}
.view-translations{
    background-color: green;
    color:white;
    padding:0.7em;
    border-radius: 50%;
    font-size:1.2em
}
.show-translations-or-start-over{

}
#translation-buttons{
    margin-right:0.5em;
    margin-left:0.5em;
}
.container-of-translations{
    text-align: center;
    background-color: white;
}