.main-container{
    height:100%;
}
.container-for-translation{
    text-align: center;
    border-top: 1px solid black;
}
label{
    font-size: 2em;
}
#word-to-translate{
    font-size: 2em;
    font-weight: bold;
}
input{
    height:3em;
    font-size:3em
}
.translated-word-output{
    background-color: white;
    border: 2px solid black;
}
#translated-word-header{
    margin-top: 1.5em;
    font-weight: bold;
}
#translated-word-letters{
    padding-top:1em;
    font-weight: lighter;
}
#save-translation-button{
    margin-bottom:1em;
    display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    padding:0.7em;
    color:white;
    background-color:blue;
}
#link-to-profile{
    font-size: 20px;
    color:black;
    background-color: crimson;
    padding:0.5em;
    border-radius: 50px;
    color:white;
    display:inline-block;
}
.navigation-buttons{
    display: inline-block;
    width:100%;
    text-align: center;
}

